@model PaymentMethodViewModel


<div class="payment-method-header">
    <a href="javascript:history.back()" class="back-button"> &lt;</a>
    <h2 class="centered-text">Card Details</h2>

</div>
<div class="payment-flex-container">
    <div class="credit-card">
        <div class="card-front">
            <div class="card-image">
                <img src="~/images/payment/card.png" alt="Credit Card" />
            </div>
            <ul class="card-details">              
                <li><strong>Card Number:</strong> @Model.CardNumber</li>
                <form asp-route-id="@Model.PaymentMethodId" asp-action="Edit" asp-controller="Payment" method="post" id="editCardForm">
                    <input type="text" id="cardNumberInput" name="newCardNumber" value="@Model.CardNumber" />
                    <button type="submit" class="edit-button">Edit Card</button>
                </form>
                <li><strong>CVV:</strong> @Model.CVV</li>
                <li><strong>Expiry:</strong> @Model.ExpiryMonth / @Model.ExpiryYear</li>
                <li><strong>Name:</strong> @Model.CardHolderName</li>
                               
            </ul>
        </div>
    </div>
</div>

<div class="payment-flex-container">
    <form asp-action="DeleteConfirmed" asp-controller="Payment" method="post">
        <input type="hidden" name="id" value="@Model.PaymentMethodId" />
        <button type="submit" class="delete-button">Delete Card</button>
    </form>
</div>

<script>
    document.getElementById("editCard").addEventListener("click", function () {
        // Toggle the input field for card number.
        var cardNumberInput = document.getElementById("cardNumberInput");
        cardNumberInput.disabled = !cardNumberInput.disabled;
    });
</script>